apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-backend
  namespace: freelance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-backend
  template:
    metadata:
      labels:
        app: django-backend
    spec:
      containers:
        - name: django-backend
          image: faly9/freelance-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secret
          volumeMounts:
            - name: media-storage
              mountPath: /app/media 
      volumes:
        - name: media-storage
          persistentVolumeClaim:
            claimName: media-pvc 
