apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: freelance
spec:
  type: NodePort
  selector:
    app: django-backend
  ports:
    - port: 8000
      targetPort: 8000
  type: ClusterIP
