apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-pvc
  namespace: freelance
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
