apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-backend
  namespace: freelance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-backend
  template:
    metadata:
      labels:
        app: django-backend
    spec:
      containers:
        - name: django-backend
          image: us-central1-docker.pkg.dev/soutenance-479118/freelance-repo/backend-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          resources:
            requests:
              memory: "150Mi"
              cpu: "50m"
            limits:
              memory: "200Mi"
              cpu: "100m"
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secret
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /secrets/key.json
          volumeMounts:
            - name: gcs-credentials
              mountPath: /secrets
              readOnly: true
      volumes:
        - name: gcs-credentials
          secret:
            secretName: gcs-credentials
         
