apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-pvc
  namespace: freelance
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard-rwx
