apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysqld-exporter
  namespace: freelance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysqld-exporter
  template:
    metadata:
      labels:
        app: mysqld-exporter
    spec:
      containers:
        - name: mysqld-exporter
          image: prom/mysqld-exporter:latest
          ports:
            - containerPort: 9104
          env:
            - name: DATA_SOURCE_NAME
              value: "exporter:2975@(mysql:3306)/"
          volumeMounts:
            - name: mysql-config
              mountPath: /etc/mysql/.my.cnf
              subPath: .my.cnf
      volumes:
        - name: mysql-config
          secret:
            secretName: mysqld-exporter-secret