apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: node-exporter
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: node-exporter
  template:
    metadata:
      labels:
        app: node-exporter
    spec:
      containers:
        - name: node-exporter
          image: prom/node-exporter:latest
          resources:
            requests:
              memory: "150Mi"
              cpu: "30m"
            limits:
              memory: "200Mi"
              cpu: "50m"
          ports:
            - containerPort: 9100
              name: metrics
