apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: freelance
spec:
  selector:
    matchLabels:
      app: mysql
  replicas: 1
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          env:
            - name: MYSQL_DATABASE
              value: freelance
            - name: MYSQL_USER
              value: faly
            - name: MYSQL_PASSWORD
              value: "2975"
            - name: MYSQL_ROOT_PASSWORD
              value: "faly09+/+"

          ports:
            - containerPort: 3306
          resources:
            requests:
              memory: "500Mi"
              cpu: "250m"
            limits:
              memory: "900Mi"
              cpu: "300" 
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-data
          persistentVolumeClaim:
            claimName: mysql-pvc
      nodeSelector:
        topology.gke.io/zone: us-central1-a
