apiVersion: v1
kind: LimitRange
metadata:
  name: limits-monitoring
  namespace: monitoring  
spec:
  limits:
  - type: Container
    default:
      cpu: "1"
      memory: "1Gi"
    defaultRequest:
      cpu: "500m"
      memory: "512Mi"
